.div_wrapper {
  height: 100%;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.titulos {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #605d5f !important;
}

.custom-color-picker {
  position: relative;
  display: inline-block;
}

.color-picker-panel {
  left: 0;
  z-index: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  width: 350px;
}

.color-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}

.color-grid-item {
  width: 30px;
  height: 10px;
  margin: 5px;
  padding-bottom: 10%;
  border-radius: 10%;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

.color-grid-item:hover {
  transform: scale(1.1);
}

.selected-color {
  width: 100%;
  height: 5px;
  margin-top: 5px;
  border-radius: 3px;
}

.color-picker-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-size: 12px;
  color: #888;
}

.color-value {
  margin-right: 5px;
}

.titleP {
  color: rgba(0, 0, 0, 0.85);
  font-size: 15px;
  padding: 0px;
  margin: 0px;
}

.error-message {
  /* margin-top: 30%; */
  color: red;
  margin-left: 5px;
}

.divScroll {
  height: 240px;
  overflow-y: scroll;
}

.ant-btn {
  border-radius: 0px !important;
}
